<a href="https://colab.research.google.com/github/AliKhyar/code-snippets/blob/master/hackerRank.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
[1,4,5]+[1]

[1, 4, 5, 1]

In [0]:
import math
import os
import random
import re
import sys

# Complete the cipher function below.
def cipher(k, s):
    if len(s)==1 or len(s)==2:
        return s

    reslut = [0]*k
    reslut[0],reslut[-1]=s[0],s[-1]
    return reslut[0]+cipher(k-2,s[1:len(s)-1])+reslut[-1]

In [0]:
def cipher(k, s):
    if len(s)==1 or len(s)==2:
        return s
    else:
      reslut = [0]*k
      reslut[0],reslut[-1]=s[0],s[-1]
      return reslut[0]+cipher(k-2,s[1:len(s)-1])+reslut[-1]

In [0]:
def cipher(k, s):
    space = []
    string = str(s)
    string = s.split()

    sentence = []

    for s in string:
        cipher_ords = [ord(x) for x in word]
        plaintext_ords = [o - shift for o in cipher_ords]
        plaintext_chars = [chr(i) for i in plaintext_ords]
        plaintext = ''.join(plaintext_chars)
        sentence.append(plaintext)

    # join each word in the sentence list back together by a space.
    sentence = ' '.join(sentence)

In [0]:
def solve(meal_cost, tip_percent, tax_percent):
    val = meal_cost*(1+(tip_percent+tax_percent)/100)
    print(val)
    if round(val% 1,2)>=0.5:
      print(int(val) +1)
    else:
      print( int(val))


    print()

if __name__ == '__main__':
    meal_cost = float(input())

    tip_percent = int(input())

    tax_percent = int(input())

    solve(meal_cost, tip_percent, tax_percent)

10.25
17
5
12.504999999999999
13

In [0]:
j = int()
k = float()
l = str()
# Read and save an integer, double, and String to your variables.
j = int(input())
k = float(input())
l = str(input())
# Print the sum of both integer variables on a new line.

# Print the sum of the double variables on a new line.

# Concatenate and print the String variables on a new line
# The 's' variable above should be printed first.

In [0]:
def timeConversion(s):
    #
    print('Called1')
    if s[-2:]=='PM':
      print('Called2')
      if s[:2] == '12':
        print('Called3')
        a = '00'+s[2:8]
        print(a)
        return a
      else:
        a = str(int(s[:2])+12)+s[2:8]
        print(a)
        return a            
    elif s[-2:]=='AM':
      print(a)
      return s[:8]

In [0]:
timeConversion('12:12:15PM')

Called1
Called2
Called3
00:12:15

'00:12:15'

In [0]:
s = '00:12:15PM'
s[-2:]

'PM'

In [0]:
str(int(s[:2])+12)+s[2:8]

'12:12:15'

In [0]:

def meanGroups(a):
    d = dict()
    
    for i in range(len(a)):
        m = sum(a[i])/len(a[i])
        if m in d: 
          d[m] += [i] 
           
        else:
          d[m] = [i]
      
    
    print(d)      
    return list(d.values())

In [0]:
a = [[3, 3, 4, 2],
     [4, 4],
     [4, 0, 3, 3],
     [2, 3],
     [3, 3, 3]]

In [0]:

print(meanGroups(a))

{3.0: [0, 4], 4.0: [1], 2.5: [2, 3]}
[[0, 4], [1], [2, 3]]

In [0]:
k = [3,4,5]

In [0]:
def concatenationsSum(a):
    same_seen = set()
    concats = []
    
    for i in range(len(a)):
        for j in range(len(a)):
            if (a == j) and ((a,j) not in same_seen):
                concats.append(str(a[i])+str(a[j]))
                same_seen.add((i,j))
            else:
                concats.append(str(a[i])+str(a[j]))
    
    return sum([int(i) for i in concats])

In [0]:
 a = ['10', 2]
 concatenationsSum(a)

1344

In [3]:
# Enter your code here. Read input from STDIN. Print output to STDOUT

def add(name, phone, phoneBook):
    phoneBook[name] = phone

def query(name,phoneBook):
    if name in phoneBook:
        return name+'='+phoneBook[name]
    else:
        return 'Not found'


def main():
    phoneBook = dict()
    to_be_searched = []
    n = int(input())

    for i in range(n):
        line = str(input())
        name, phone = line.split (" ")
        add(name, phone, phoneBook)
    for i in range(n):
        name = str(input())
        to_be_searched.append(name)
    for val in to_be_searched:
        print(query(val,phoneBook))

main()

3
sam 54515454
ali 84891515
hshshs 8940894890
sam
ali
haha
sam=54515454
ali=84891515
Not found